body{
    padding: 0;
    margin: 0;
    background-color: #4834d4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.formularios{
    width: 550px;
    height: 450px;
    background-color: #DCDDE1;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 20%;
    padding: 30px;
}
.formularios label{
    color: #574b90;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
}
.formularios input{
    text-align: center;
    font-size: 25px;
    width: 280px;
    height: 50px;
    margin-top: 15px;
    margin-left: 26%;
    color: #574b90;
    border-radius: 45px;
    border:none;
    box-shadow: 0 8px 6px -6px black;
}
.formularios button{
    width: 300px;
    height: 60px;
    background-color: #778BEB;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 44px;
    font-size: 20px;
    margin-top: 15%;
    margin-left: 25%;
}
.formularios button:hover{
    background-color: #fff;
    color: #778BEB;
    border: 1px solid #778BEB;
}
.formularios input:focus{
    border: 1px solid #9c88ff;
}

img{
    position: relative;
    top:80px;
    width: 70%;
}

/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #2ed573;
    margin: auto;
    padding: 20px;
    border: 1px solid #218b4d;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #050505;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(211, 72, 72);
    text-decoration: none;
    cursor: pointer;
  }
  

  /* media */
 
  @media only screen and (max-width: 500px) {
    .grid {
        display: block;
    }
    img{
        visibility: hidden;
    }
    .formularios{
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }
    .formularios input{
        width: 120px;
        font-size: 15px;
    }
    .formularios button{
        width: 120px;
        font-size: 15px;

    }
  }
  
  @media only screen and (max-width: 1500px) {
    .grid {
        display: block;
    }
    img{
        visibility: hidden;
    }
    .formularios{
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px;
    }
    .formularios input{
        width: 120px;
        font-size: 15px;
    }
    .formularios button{
        width: 120px;
        font-size: 15px;

    }
  }
  @media only screen and (max-width: 400px) {
    .grid {
        display: block;
    }
    img{
        visibility: hidden;
    }
    .formularios{
        width: 250px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 20px;
        padding: 5px;
    }
    .formularios input{
        width: 120px;
        font-size: 15px;
    }
    .formularios button{
        width: 120px;
        font-size: 15px;

    }
  }
  @media only screen and (max-width: 390px) {
    .grid {
        display: block;
    }
    img{
        visibility: hidden;
    }
    .formularios{
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }
    .formularios input{
        width: 120px;
        font-size: 15px;
    }
    .formularios button{
        width: 120px;
        font-size: 15px;

    }
  }
